
  <div class="row event-form">
    <ul class="col-md-2 dropbox list-group" id="invites">
      <h4>Add Members</h4>
      <p>Drop here to invite</p>
    </ul>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3">
          <h4><label for="event_title">Event Title</label></h4>
          <input type='text' name="event[title]" placeholder="Enter a title" id="event_title">
        </div>
        <div class="col-md-3">
          <h4><label for="event_place">Event Location</label></h4>
          <input list="places" name="event[final_place]" placeholder="Enter a place" id="event_place" />
          <datalist id="places"></datalist>
        </div>
      </div>
      <h4>Voting Deadline</h4>
      <p>Choose a date/time or suggestions/voting will be automatically locked</p>
      <div class="row">
        <div class="col-md-6">
          <label for="deadline_date">Select Date</label>
          <div class="bfh-datepicker" id="datepick" data-name="deadline_date">

          </div>
        </div>
        <div class="col-md-6">
          <label for="deadline_time">Select Time</label>
          <div class="bfh-timepicker" id="timepick" data-name="deadline_time">

          </div>
        </div>
      </div>
      <br/>
      <h4>When?</h4>
      <div class="row">
        <div class="col-md-6">
          <p>Choose a start and end date</p>
          <div class="row">
            <div class="col-md-6">
              <label for="start_date">Select Start Date</label>
              <div class="bfh-datepicker" id="datepick1" data-name="start_date">

              </div>
            </div>
            <div class="col-md-6">
              <label for="end_date">Select End Date</label>
              <div class="bfh-datepicker" id="datepick2" data-name="end_date">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p>Choose a start and end time</p>
          <div class="row">
            <div class="col-md-6">
              <label for="start_time">Select Start Time</label>
              <div class="bfh-timepicker" id="timepick1" data-name="start_time">

              </div>
            </div>
            <div class="col-md-6">
              <label for="end_time">Select End Time</label>
              <div class="bfh-timepicker" id="timepick2" data-name="end_time">

              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>


<script>
  $('#datepick').bfhdatepicker({default:'now', name: 'deadline_date'});
  $('#timepick').bfhtimepicker({default:'now', mode: '12h', name: 'deadline_time'});
  $('#datepick1').bfhdatepicker({default:'now', name: 'start_date'});
  $('#timepick1').bfhtimepicker({default:'now', mode: '12h', name: 'start_time'});
  $('#datepick2').bfhdatepicker({default:'now', name: 'end_date]'});
  $('#timepick2').bfhtimepicker({default:'now', mode: '12h', name: 'end_time'});
</script>