<a style="display:block" href="#/events/<%= event.escape('id')%>">
  <div class="row">
    <div class="col-md-3">
      <h2><%= event.escape('title') %></h2>
    </div>
    <div class="col-md-5">
      <div id="countdown"></div>
    </div>
  </div>
</a>
