<div id="when-info">
  <p>Start: <%= thestart %><p>
  <p>End: <%= theend %></p>
  <p># of Votes: <%= ts.escape('time_likes')%></p>
</div>
<div type="button" id="vote-when" class="btn btn-xs btn-primary" data-id="<%= ts.get('id') %>">Vote</div>