<h1><label for="find-user">Find a user</label></h1>
<input type="text" name="search_str" id="find-user" placeholder="Enter a username">
<button class="btn btn-primary" id="reset-list">Reset List</button>
<div id="all-users" class="row container2"></div>