<h1>USERNAME: <%= user.escape("user_name") %></h1>

<img src='<%= Gravtastic(user.get('email'), {default: 'identicon', size: 200}) %>'>
<br/>
E-Mail: <%= user.escape("email") %>
<br/>
<% if (user.get('id') == current_user.get('id')) { %>
  <button type="button" class="btn btn-success">This is me</button>
<% } else if (friends.get(user.get("id"))) { %>
  <button type="button" class="btn btn-danger" id="delete-friend">Remove Friend</button>
<% } else { %>
  <button type="button" class="btn btn-primary" id="add-friend">Add to Friends</button>
<% } %>