<li class="list-group-item side-friend-box" data-cid='<%= friend.escape("id") %>'>
  <div class="row">
    <div class="col-sm-4">
      <img src='<%= Gravtastic(friend.get('email'), {default: 'identicon', size: 40}) %>'>
    </div>
    <div class="col-sm-8">
      <a class="list-group-item-heading" href='#/users/<%= friend.escape("id") %>'><h4><%= friend.escape("user_name") %></h4></a>
    </div>
  </div>
</li>
