<div class="side-place-box" data-cid='<%= place.escape("id") %>'>
  <div class="row">
    <div class="col-sm-8">

      <a class="list-group-item-heading" href='#/favorite_places/<%= place.escape("id") %>'><h3><%= place.escape("place_name") %></h3></a>
    </div>
  </div>
</div>