<div class="screen row">
  <h1>Welcome Back </h1>
  <div class="col-sm-3 sideCol">
    <ul class="nav nav-tabs">
      <li><a href="#/friends/index">Friends</a></li>
      <li><a href="#/friend_groups">Groups</a></li>
      <li><a href="#/locations">Locations</a></li>
    </ul>
    <div id="sidebar"></div>
  </div>
  <div class="col-sm-9 centerCol">
    <ul class="nav nav-tabs">
      <li><a href="#/events/new">Create Event</a></li>
      <li><a href="#/events">Current Events</a></li>
      <li><a href="#/past_events">Past Events</a></li>
      <li><a href="#/calendar">Calendar</a></li>
    </ul>
    <div id="main"></div>
  </div>
</div>