<div class="container0">
<div class="screen row">
  <h1>Welcome Back </h1>
  <div class="col-sm-2 sideCol">
    <ul class="nav nav-tabs">
      <li><a href="#/friends/index">Friends</a></li>
      <li><a href="#/favorite_places">Locations</a></li>
    </ul>
    <div id="sidebar" class="scrollable1"></div>
  </div>
  <div class="col-sm-10 centerCol">
    <ul class="nav nav-tabs">
      <li><a href="#/events/new">Create Event</a></li>
      <li><a href="#/events">Current Events</a></li>
      <li><a href="#/past_events">Past Events</a></li>
      <li><a href="#/calendar">Calendar</a></li>
      <li><a href="#/users/index">Find Users</a></li>
      <li><a href="#/favorite_places/new">Add Location</a></li>
    </ul>
    <div id="main" class="scrollable2"></div>
  </div>
</div>
</div>

<script>
$(document).ready(function(){
  PlanIt.initialize();
});
</script>