<div class="jumbotron">
  <div class="container">
    <h1>Welcome To The PlanIT</h1>
    <form action="/session" method="post">
      <input type="hidden" name="user[user_name]" value="Guest">
      <input type="hidden" name="user[password]" value="111111">
      <input type="submit" value="SIGN IN AS GUEST!!!!">
    </form>
  </div>
</div>