/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require_tree .
 */


@import "bootstrap";
html, body {
  padding-top: 30px;
  height: 96%;
}

.nav-tabs {
  width: 145%;
}

.thumbnail {
  text-align: center;
  margin: 0 auto;
}

body {
  margin-bottom: 5%;
}

.container2 {
  width: 96%;
}

.container1 {
  display: inline;
}

.container0 {
  margin-left: 10%;
  margin-right: 10%;
  height: 96%;
}

.screen {
  height: 96%;
}

.sideCol {
  height: 96%;
}

.centerCol {
  height: 96%;
}

.screen .sideCol .scrollable1 {
  overflow: hidden;;
  width: 100%;
  height: 96%;
}

.screen .centerCol .scrollable2{
  overflow: hidden;
  width: 100%;
  height: 96%;
}


