<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h1 class="title">Thanks for checking out my app!</h1>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
</div>

<div class="container1" style="background-color:white;opacity:0.8;">
		<div class="col-md-6 aboutme">
			<h4>
        This application is an original project created by myself in about two weeks. It was created to solve the problem of planning events with a large group of people without the need for long e-mail threads or group text messages.
			</h4>

       <h4> This application allows users to:</h4>
			<h5>
        <ul>
          <li>find and add friends</li>
          <li>create and add locations to their favorites</li>
          <li>add pictures to their locations which will be shared with anybody else with the same locations</li>
          <li>create events, invite users, set a voting deadline, and suggest a location and start/end time</li>
          <li>add more users, add more location suggestions, and add more start/end time suggestions to an event that they are invited to</li>
          <li>vote on suggestions until the deadline when everything is locked and final location and start/end time is set</li>
          <li>see how much time is left until the deadline and then how much time is left until the event starts</li>
          <li>see their past events in a timeline</li>
          <li>add pictures to their events which will be shared with everybody else that was invited to the event</li>
        </ul>
      </h5>
      <h4>Technologies Used</h4>
      <h5>
			<ul>
				<li>Ruby</li>
				<li>Ruby on Rails</li>
				<li>Javascript</li>
				<li>Backbone</li>
        <li>JQuery</li>
        <li>AWS Api</li>
        <li>JQuery UI</li>
        <li>Bootstrap</li>
				<li>SQL</li>
				<li>Git</li>
				<li>HTML</li>
				<li>CSS</li>
        <li>...and much more. Check out my code at <a href="https://github.com/leesungchul/PlanIt">GitHub</a>!</li>
			</ul>
      </h5>
			<h4>Please check out some of my other projects at my <a href="http://lloydslee.com">portfolio site</a> and let me know what you think through the contact form.</h4>
			<h4>-Lloyd-</h4>
		</div>
	</div>
</div>