<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="title">Welcome to PlanIt.</h1>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>

<div class="container1" style="background-color:white;opacity:0.8;">
    <div class="col-md-6 aboutme">
      <h6>
        This application is an original project created by myself. It was created to solve the problem of planning events with a large group of people without the need for long e-mail threads or group text messages.
      <h6>

      <h6>Technologies Used:</h6>
      <h6>
      Ruby on Rails, Javascript, Backbone, JQuery, AWS Api, JQuery UI, Bootstrap, SQL, Git, HTML, CSS
        </h6>
        <h6>
        Check out my code at <a href="https://github.com/leesungchul/PlanIt">GitHub</a>
        </h6>
        <h6>
      Also please check out some of my other projects at my <a href="http://lloydslee.com">portfolio site</a> and let me know what you think through the contact form.</h4>
      </h6>
    </div>
  </div>
</div>