<div class="jumbotron">
	<div class="container">
		<h1 class="title">Contact</h1>
		<p>I look forward to hearing from you!</p>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="col-md-6">
			<div class="span6" id="divMain">
				<div id="contact-form-header"></div>
				<h1>Contact Me</h1>
		    <form id="contact-form">
					<fieldset>
					<div class="span6">
				    <input style="width:100%;" type="text" name="name" id="name" value=""  class="input-block-level" placeholder="Name" />
						</div>
						<br/>
						<div class="span6">
				    <input style="width:100%;" type="text" name="email" id="email" value="" class="input-block-level" placeholder="Email" />
						</div>
							<br/>
						<div class="span6">
						<input style="width:100%;" type="text" name="phone" id="phone" value="" class="input-block-level" placeholder="Phone#" />
						</div>
							<br/>
						<div class="span6">
				    <textarea style="width:100%;" rows="11" name="message" id="message" class="input-block-level" placeholder="Comments"></textarea>
						</div>
							<br/>
				    <div class="actions">
				    <input type="submit" value="Send Your Message" name="submit" id="contact-form-submit" class="btn btn-info pull-right" title="Click here to submit your message!" />
				    </div>
			    </fieldset>
				</form>
			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>

